<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CarList</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <a class="navbar-brand" href="https://res.cloudinary.com/db9bfssj4/image/upload/v1558720654/NbDovdB_gexlp0.gif">CarBuy</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addcatagory">Add Catagory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addcars">Add Car</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Cars Listing</a>
        </li>
    </ul>
    <div class="container">
        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-primary"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-dark"></div>
        <div class="spinner-grow text-light"></div>
    </div>
</nav>

<br>
<br>

<div class="container">

    <div >
        <h2>All Cars </h2>

        <h5>Name: <span style="text-align: left;font-size: 18px;
            color: #fff421;" th:text="${catagory.name}"></span></h5>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p th:href="@{/addcars}"></p>

            <div th:each="car: ${catagory.cars}">
                <div th:if="${car.image} !=null">
                    <img th:src="${car.image}"/>
                    <hr/>
                </div>
                <br>
            <li th:inline="text"><b>[[${car.manufacturer}]]: </b> [[${car.model}]] </li>
            <li th:inline="text"><b>[[${car.year}]]: </b> [[${car.msrp}]] </li>
            </p>
        </div>
        <div class="col-md-3">
            <!--<a th:href="@{/update/car{id}(id=${catagory.id})}" class="btn btn-outline-secondary">Update</a>-->
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>